{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <table class="table-bordered table">
            {% for cus in customers %}
                <tr>
                    <td>{{ cus.customer.name }}</td>
                    <td>{{ cus.get_status_display }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</body>
</html>